body {
    display: flex;
    flex-direction: column;
    font-family: Helvetica, Arial, sans-serif;
  }
  
header {
    flex: 0 80px;
  }

footer {
    flex: 0 60px;
}

menu {
    flex: 1;
    display: flex;
    /*  overwrite Bootstrap so the menu does not wrap */
    flex-direction: row !important;
    list-style: none;
  }

